

img {
    object-fit: none;
    object-position: 0 0;
    width: 47px;
    height: 46px;
    transform: scale(0.7);
  }

img:hover {
    cursor: pointer;
}


.user {
    object-position: -1382px -15px;
}


.brand {
    object-position: -459px -15px;
}
