<div class="row">
    <div class="col-sm-12">
        <div class="card" style="width: 100%;">
            <div class="card-header">
              <h5 style="font-size: 18px;">Experience</h5>
            </div>
            <div class="card-body">
                <div class="card shadow" style="border: none;" *ngFor="let experience of experience; let i = index;">
                  <div class="card-body" style="padding: 10px 25px">
                    <h3 style="padding-top:0px; padding-bottom: 0px;font-size: 18px">{{experience.positionTitle}}</h3>
                    <p style="font-size: 14px;color: #a3a3a3">
                      <span style="font-size: 18px;">{{experience.company}}</span>
                      <span >{{experience.startMonth}} - present</span>
                    </p>
                  </div>
                </div>
                <hr>
            </div>
          </div>
    </div>
  </div>